{% extends 'base.html' %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('task.index') }}">Tasks</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% block title %}New task{% endblock %}</li>
        </ol>
    </nav>
{% endblock %}

<!-- https://gijgo.com/datepicker/example/bootstrap-4 -->
{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <form method="POST" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="title">Projekts</label>
                    <select class="form-control" name="project_id" id="project_id" value="{{ request.form['project_id'] }}" required>
                        {% for project in projects %}
                            <option value="{{ project['id']}}">{{ project['title']}} ({{ project['priority']}})</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required>
                </div>
                <div class="form-group">
                    <label for="priority">Priority</label>
                    <input type="text" class="form-control" name="priority" id="priority" value="{{ request.form['priority'] }}">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="notes" value="{{ request.form['notes'] }}">
                </div>

                <div class="form-group">
                    <label for="notes">Task place</label>
                    <input type="text" class="form-control" name="place" id="place" value="{{ request.form['place'] }}">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="notes">Start date</label>
                    <input id="start-datepicker" width="276" name="start-date" id="start-date" value="{{ request.form['start-date'] }}"/>
                    <script>
                        $('#start-datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="notes">End date</label>
                    <input id="end-datepicker" width="276" name="end-date" id="end-date" value="{{ request.form['end-date'] }}"/>
                    <script>
                        $('#end-datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="notes">Planned time</label>
                    <input type="text" class="form-control" name="planned-time" id="planned-time" value="{{ request.form['planned-time'] }}">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
