{% extends 'base.html' %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ url_for('task.index') }}">{% block title %}Tasks{% endblock %}</a>
            </li>
        </ol>
    </nav>

    {% if g.user %}
        <a class="btn btn-primary btn-lg float-right" href="{{ url_for('task.create') }}">New task</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if g.user %}
        <div class="row card-group">
            {% for task in tasks %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-group">
                    <div class="card">
                        <h5 class="card-header">{{ task['title'] }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Priority: {{ task['priority'] }}</h5>
                            <p class="card-text">Notes: {{ task['notes'] }}</p>
                            <p>Place: {{ task['place'] }}</p>
                            <p>Created at {{ task['created'].strftime('%Y-%m-%d') }}</p>

                            {% if g.user['id'] == task['user_id'] %}
                                <a class="btn btn-primary" href="{{ url_for('task.update', id=task['id']) }}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
