{% extends 'base.html' %}

{% block header %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('task.index') }}">Tasks</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% block title %}Edit "{{ task['title'] }}"{% endblock %}</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}
    <form action="{{ url_for('task.delete', id=task['id']) }}" method="POST">
        <input class="btn btn-danger btn-lg float-right" type="submit" value="Delete task" onclick="return confirm('Are you sure?');">
    </form>

    <form method="POST" autocomplete="off">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="title">Projekts</label>
                    <select class="form-control" name="project_id" id="project_id" value="{{ request.form['project_id'] or task['project_id'] }}" required>
                        {% for project in projects %}
                            <option value="{{ project['id']}}">{{ project['title']}} ({{ project['priority']}})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Task title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ request.form['title'] or task['title'] }}">
                </div>
                <div class="form-group">
                    <label for="priority">Task priority</label>
                    <input type="text" class="form-control" name="priority" id="priority" value="{{ request.form['priority'] or task['priority'] }}">
                </div>
                <div class="form-group">
                    <label for="notes">Task notes</label>
                    <input type="text" class="form-control" name="notes" id="notes" value="{{ request.form['notes'] or task['notes'] }}">
                </div>
                <div class="form-group">
                    <label for="notes">Task place</label>
                    <input type="text" class="form-control" name="place" id="place" value="{{ request.form['place'] or task['place'] }}">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
