{% extends 'base.html' %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('project.index') }}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% block title %}New project{% endblock %}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required>
        </div>
        <div class="form-group">
            <label for="priority">Priority</label>
            <input type="text" class="form-control" name="priority" id="priority" value="{{ request.form['priority'] }}">
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="notes" value="{{ request.form['notes'] }}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
