{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Graph{% endblock %}</h1>
    {% if g.user %}
    {% endif %}
{% endblock %}

{% block content %}
    <img src="data:image/png;base64,{{graph1}}">
    <img src="data:image/png;base64,{{graph2}}">
    <img src="data:image/png;base64,{{graph3}}">

    {% for task in dbdata %}
        <p>{{task['planned_time']}}, {{task['actual_time']}}</p>
    {% endfor %}
{% endblock %}
