{% extends 'base.html' %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ url_for('project.index') }}">{% block title %}Projects{% endblock %}</a>
            </li>
        </ol>
    </nav>

    {% if g.user %}
        <a class="btn btn-primary btn-lg float-right" href="{{ url_for('project.create') }}">New project</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if g.user %}
    <div class="row card-group">
        {% for project in projects %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-group">
                <div class="card">
                    <h5 class="card-header">{{ project['title'] }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Priority: {{ project['priority'] }}</h5>
                        <p class="card-text">Notes: {{ project['notes'] }}</p>
                        <p>Created at {{ project['created'].strftime('%Y-%m-%d') }}</p>

                        {% if g.user['id'] == project['user_id'] %}
                            <a class="btn btn-primary" href="{{ url_for('project.update', id=project['id']) }}">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
