{% extends 'base.html' %}

{% block header %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('project.index') }}">Projects</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% block title %}Edit "{{ project['title'] }}"{% endblock %}</li>
      </ol>
    </nav>
{% endblock %}

{% block content %}
    <form action="{{ url_for('project.delete', id=project['id']) }}" method="POST">
        <input class="btn btn-danger btn-lg float-right" type="submit" value="Delete project" onclick="return confirm('Are you sure?');">
    </form>

    <form method="POST" autocomplete="off">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ request.form['title'] or project['title'] }}" required>
                </div>
                <div class="form-group">
                    <label for="priority">Priority</label>
                    <input type="text" class="form-control" name="priority" id="priority" value="{{ request.form['priority'] or project['priority']  }}">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="notes" value="{{ request.form['notes'] or project['notes']  }}">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
