{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %}
    <h1>Register</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-xs-2 col-sm-3"></div>
    <div class="col-12 col-xs-8 col-sm-6">
        <form method="POST" autocomplete="off">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
